<!DOCTYPE html><html dir="ltr" lang="en-US">
<head>
	<meta charset="UTF-8" />
	<link href="static/index/extend/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="static/index/extend/upload-js/js/jquery.ui.plupload/css/jquery.ui.plupload.css" rel="stylesheet">
</head>
<body>

	<div id="uploader">
		<p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
	</div>

	<script src="static/index/js/jquery.js"></script>
    <script src="static/index/extend/jquery-ui/jquery-ui.min.js"></script>
    <script src="static/index/extend/upload-js/js/plupload.full.min.js"></script>
    <script src="static/index/extend/upload-js/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
    <script src="static/index/extend/upload-js/js/lang/zh_CN.js"></script>
    <script src="static/index/js/upload.js"></script>

</body>
</html>
